[2017-07-06 15:27] rtfeldman commented on #187
Another benefit of the "start small and increase complexity" approach is
that shrinking gets faster: you try the minimal case first, so if it fails,
you have no shrinking to do.

On Thu, Jul 6, 2017, 6:13 AM Jasper Woudenberg <notifications@github.com>
wrote:

[2017-07-06 16:26] avh4 commented on #187
I'm not saying the shrinker shouldn't produce empty list first; I'm saying that after it tries empty list once it shouldn't keep trying it again later.  (Currently, sometimes it will even produce empty list twice in a row!)

I would expect the `map2 (,) string string` to produce something like the following (assuming a simplified `string`:

-  `("sdjfklwejk...sdfkwe", "weuropew...erutoerpt")`
- FA

[2017-07-07 00:29] mgold commented on #187
It sounds like this would benefit from the same solution discussed in #168: "complexity credits" that allow shrinkers to control what value they try. So shrinking a pair of strings should try `("", "")` first, and then never try it again. The idea being that `Fuzz.map2`, given zero credits, can pass only zero to the string fuzzers, which will be obliged to return `""`.

I wonder if random generati

[2017-07-07 00:31] mgold commented on #188
If the only benefit of this is shrinking performance, and we might completely overhaul that, let's wait on this one.

[2017-07-07 02:00] raould opened #189 "Option to log passing tests"
I would love to have a way of running the tests and printing out the text from 'describe' through to the current 'test' before each test. e.g. if I have

[code]

and I run "elm-test --trace" (or something, --logging, --status, --progress, i dunno) i would see something like
[code]

[2017-07-07 05:50] mgold commented on #189
One of our design principles is that passing tests are uninteresting, beyond how many of them there were.

Do you want to
* See the progress of tests while they are running
* Be assured that the tests you specified are in fact running
* Use tests to document behavior for someone who is not familiar with the code
* Do performance profiling on your test suite

[2017-07-07 06:16] mgold commented on #187
Here's a proof-of-concept for how this would work: https://ellie-app.com/3GsVhJyy8xja1/1

Notice that neither of the numbers gets very large. That's because the most credits `int` gets called with is 50, since they are split in half. A proper implementation would have a helper function to randomly divvy up the credits in an off-balance way.

A proper solution will also make sure we get all of the

[2017-07-07 06:47] avh4 commented on #187
Is this suggesting that the fuzzer should always generate simple values first?  That seems to lose the benefit of fuzz testing, which is that fuzzing will generate examples that are likely to find new, unknown bugs and then reduce them to minimal examples; not that it will test hundreds of simple examples that probably are all going to exercise the same code paths.

I don't think we should optimiz

[2017-07-07 06:50] avh4 commented on #187
Also, regarding better shrinking, see https://www.cs.indiana.edu/~lepike/pubs/smartcheck.pdf

[2017-07-07 15:28] mgold commented on #187
Yes.

The point of fuzzing is to write unit tests for you. If we wind up shrinking to small values anyway, wouldn't it have been much better to have generated them first?

The initial complaint is that fuzzers repeat many values to improve the statistical likelihood of  generating those values together for `mapN`. This idea tries to guarantee that those values will be generated exactly once. It se

[2017-07-07 15:41] avh4 commented on #187
(For the record, I disagree that the main use of fuzz tests is to avoid writing unit tests; I think that ignores their more important use which is finding bugs that are hard or impossible to find with unit tests.  But not expecting to resolve that here; just adding that as a note)

To the point of this issue, I guess I wasn't clear in the original post, which was meant to report the issue that the

[2017-07-07 15:44] mgold opened #190 "Please contribute examples of fuzzing and shrinking bugs"
It seems that the implementation of fuzzers and especially shrinkers is constantly in flux. But, we also appear to be designing blind.

I am asking for **real-world** examples of when 100-run fuzz tests were unsatisfactory. That is, SSCCEs of code and test where the tests either **do not detect a bug** or **shrink to an unhelpfully large counterexample**. Also indicate the (human-derived) smallest

[2017-07-07 15:55] mgold commented on #187
Hmm. It's been my experience that most bugs get shrunken pretty small, even if they start huge. But yes, sometimes bugs only happen for large examples.

Ah! Those live at [elm-community/shrink](https://github.com/elm-community/shrink) and I am open to new ideas for improving those, including prior art in Haskell. I think it likes to shrink lists to the empty list because that's a big win if the em

[2017-07-07 16:30] avh4 commented on #187
Ah, got it -- should I move this issue to https://github.com/elm-community/shrink ?

[2017-07-07 17:23] jwoudenberg commented on #187
I'm really sorry @avh4 for dragging your post of topic, I miserably failed at reading it.

It seems that shrinking responsibility is split a bit across the Shrink library and the Fuzz library at the moment. Most primitive shrinkers come from the shrink package but the list shrinking is actually implemented in elm-test directly at the moment (the shrink package exports one but it isn't used in elm-

[2017-07-07 17:48] rtfeldman commented on #187
Random aside: I don't think it's important that shrinking live in a separate package. If the best shrinking strategy turns out to be coupled with the `elm-test` API, that's fine. 😄

[2017-07-09 16:36] mgold commented on #160
Is this fixed by #183?

[2017-07-09 16:37] mgold commented on #111
Stale.

[2017-07-09 16:37] #111 closed

[2017-07-09 16:39] jwoudenberg commented on #160
@mgold Yes!

[2017-07-09 16:47] mgold commented on #181
@battermann Any new here?

[2017-07-09 16:55] mgold opened #191 "Planning for 0.19 and 5.0.0"
Although it's fair to question whether we should group API and language changes together. I'd be open to updating to 0.19 on the 4.x line, and following up with breaking API when we are good and ready. That will also help isolate bugs in the test runners.

Changes that need/should to be done for 0.19:
* [ ] Update the node runner to use `elm.json` and `test-dependencies` (@rtfeldman )
* [ ] Update

[2017-07-09 17:09] rtfeldman commented on #191
I like this plan. No reason to block people from upgrading to 0.19 until
they find replacement solutions for what they're using `andThen` or
`conditional` for today.

So in 4.0.0 the only breaking change would be switching to `core` Random's
(equivalent, but technically different) types?

On Sun, Jul 9, 2017, 12:55 PM Max Goldstein <notifications@github.com>
wrote:

[2017-07-09 17:46] mgold commented on #191
We've already released 4.0.0.

Oh right, changing Random will be a breaking change. Technically, but not actually. Silly elm-package.

I want to avoid *two* major version bumps in the near future. I will work to make core/Random compatible with our needs. Then we'll swap over elm-test.

[2017-07-09 18:53] rtfeldman commented on #191
Ha, good point about 4 being the current one. 😅

I'm okay with going to 5 for 0.19 and then 6 with more serious breaking
changes like taking out `andThen` and `conditional`.

We could actually move both of those to like `Test.Deprecated` for 5.0 so
people have a heads-up but can still upgrade easily if they're not ready to
switch yet.

On Sun, Jul 9, 2017, 1:46 PM Max Goldstein <notifications@gith

[2017-07-09 19:08] jwoudenberg commented on #191
@rtfeldman I definitely see the advantage for users of moving features to `Test.Deprecated`. The disadvantage I see is that while we have `andThen` in that module our fuzzers will not be statically analysable which would preclude some optimisations we might start thinking about.

[2017-07-09 19:14] rtfeldman commented on #191
We can start working on those on an unreleased branch where `andThen` is
gone, yeah?

On Sun, Jul 9, 2017, 3:08 PM Jasper Woudenberg <notifications@github.com>
wrote:

[2017-07-09 19:17] rtfeldman commented on #191
Actually if deprecation is the plan, I kinda like the idea of making a
5.0.0 branch for 0.19 now, finalizing the changes (deprecation etc),
getting rid of `andThen` on master, and then continuing work on master for
6.0.

On Sun, Jul 9, 2017, 3:14 PM Richard Feldman <richard.t.feldman@gmail.com>
wrote:

[2017-07-10 00:28] mgold commented on #191
changes like taking out `andThen` and `conditional`.

Are there any breaking changes absolutely required for 0.19 compatibility? I'm not sure there are any.

[2017-07-10 00:56] rtfeldman commented on #191
Not if you publish an 0.19-compatible [`mgold/elm-random-pcg`](http://package.elm-lang.org/packages/mgold/elm-random-pcg/latest/Random-Pcg) release.

Otherwise [`Fuzz.custom`](http://package.elm-lang.org/packages/elm-community/elm-test/4.1.1/Fuzz#custom) currently takes a `Random.PcgGenerator`, and it'll take a `Random.Generator` instead if we switch to using `core`.

[2017-07-10 02:00] mgold commented on #191
I can do that. Give people (like us!) time to transition, and complain about anything that's different in core.

[2017-07-10 02:16] rtfeldman commented on #191
Okay, that works for me.

That said, I think we're agreed that there will be a future release which removes `andThen`, so @jwoudenberg I think it's safe to continue (on a branch) under the assumption that this will happen post-0.19, yeah?

[2017-07-10 09:58] battermann commented on #181
I found a workaround by using Node 6.x.
I haven't tested it with current `node-test-runner`, yet.

With latest ubuntu docker image I cannot even install elm. I get this error:

    npm install -g elm
    npm WARN deprecated node-uuid@1.4.8: Use uuid module instead
    /root/.nvm/versions/node/v8.1.3/bin/elm -> /root/.nvm/versions/node/v8.1.3/lib/node_modules/elm/binwrappers/elm
    /root/.nvm/vers

[2017-07-11 04:51] ento commented on #190
It looks like `list string` does not generate a list of two empty strings or more within 100 iterations. It may or may not within 10000 iterations. We didn't notice a possibly faulty test code because of this (we haven't gotten around to fixing it, so not 100% sure if it didn't lead to a user-facing bug).

node-test-runner: 0.18.7
elm-test: 4.1.1

Fancier version: (if the desired number of empty s

[2017-07-11 05:44] ento opened #192 "It's not intuitive that a particular fuzz test will get seeded differently depending on the number and order of tests being run"
### What happened

I spotted a failing fuzz test in a CI build, and replicated the failure by running it locally with the same seed:

[code]

Then I wanted to narrow down the tests being run to examine what's really going on, which made the failure disappear:

[code]

A good colleague of mine pointed out that because seeds are distributed across the entire tests being run, [one should use `only` t

[2017-07-12 03:19] rtfeldman commented on #192
Great point!

If I understand correctly, I think this is CLI-specific, so [`rtfeldman/node-test-runner`](https://github.com/rtfeldman/node-test-runner) would probably be the better place for the issue to live.

I might title it something like:

I think it's solvable by using both the fully-qualified module name and the `--seed` as the starting point for seed distribution to the tests in that modul

[2017-07-12 04:43] mgold opened #193 "Fuzzing a list of strings does not generate list with only empty strings, length > 1"
@ento made this comment on #190. I don't think it quite meets the criteria of "real world" since it's not clear why `["", ""]` would have caused a bug. Where is the code that you were trying to test?

I appreciate that @ento tried to shrink things as far as possible, which is usually the correct approach, but in this case I'm asking for more context about what makes fuzzers effective. It's not aut

[2017-07-12 04:48] mgold commented on #192
I think we made sure to distribute seeds before doing `only` pruning, but I guess we didn't account for the glob changing.

Closing. Please file the issue in the other issue like Richard suggests!

[2017-07-12 05:24] rtfeldman commented on #179
I like this idea!

Another thing I think is worth incorporating: I talked about this with @mgold at some point, but I can't remember where it's written down - exposing a union type for the different built-in expectation types, e.g. `type ExpectationType = Equal String String | NotEqual String String | Custom String` so runners can render things differently depending on the expectation. (For exampl

[2017-07-12 08:21] jwoudenberg commented on #192
@rtfeldman I think that seed distribution logic is located in this repo, here: https://github.com/elm-community/elm-test/blob/master/src/Test/Runner.elm?

Just double checked node-test-runner and it looks like it's using that.

[2017-07-12 14:42] rtfeldman commented on #192
Great point!

I can't think of a reason this wouldn't work, and doing it this way means that all runners would get the same consistency for free. 🤔

[2017-07-13 03:59] mgold commented on #192
Okay, so... reopening?

[2017-07-13 20:49] Janiczek commented on #161
So, we still don't have a good story for "what to do instead of `Fuzz.andThen`".

`Fuzz.custom` is great if you're building all your fuzzers from scratch, but if a library wants to use user Fuzzers, there is still some part of API missing.

From the user perspective, it might be as simple as `??? : Fuzzer a -> (Generator a, Shrinker a)`. That should be trivial to write from `elm-test` perspective,

[2017-07-13 22:44] stephenhand opened #194 "Feature request - Expose details of skipped tests in Test.Runner"
I'm working on a karma plugin to run elm-test tests (https://github.com/stephenhand/karma-elm-test) and would ideally like to make the details of which tests were skipped during a test run available to reporters. As far as I can tell, it isn't possible to discern exactly what was skipped in a run using the current run (although I'm still upskilling in elm so could be mistaken)

Would it be possibl

[2017-07-14 00:09] mgold commented on #194
Related to #179

[2017-07-14 00:13] mgold commented on #161
I think that would require holding references to the original generator and shrinker. Perhaps not impossible, but a pain.

[2017-07-14 05:36] jwoudenberg commented on #161
I think a `Fuzzer a -> (Generator a, Shrinker a)` function would be an excellent addition to the API, but impossible to implement using the current shrinker representation. The problem is that there's no way, I think, of turning a `RoseTree a` back into a `Shrinker a`.

Consider why internally we're using trees instead of lists. A shrinker has the signature `a -> LazyList a`. If we'd try to use th

[2017-07-14 09:00] drathier commented on #161
FWIW, it's possible if you add a `(b -> a)` argument.
`dimap : (a -> b) -> (b -> a) -> (a -> LazyList a) -> (b -> LazyList b)`
as done in the shrinker library
`convert : (a -> b) -> (b -> a) -> Shrinker a -> Shrinker b`

[2017-07-14 15:20] Janiczek commented on #161
So, that would be:

[code]

(this typechecks... whether it makes sense is another thing :sweat_smile: )

[2017-07-15 18:09] hkgumbs commented on #179
@rtfeldman glad you like the direction. We're actually working on changing the awkward ASCII art in the html runner now.

Thinking about how to move this forward leaves me with a couple of questions:

0. Would this actually work for all of the cli runners in the node implementation? I wonder if it's worth copying the `Test.Runner.Exploration` into that project and see what tweaks make things more

[2017-07-16 15:52] #192 closed

[2017-07-18 11:51] stoeffel commented on #193
We just encountered something related to this with just a `Fuzz.string` (no list).
the test was doing something like this:

[code]
This test was flakey on CI, because the fuzzer didn't create empty strings (most of the time). It failed when we had a ` `, because the view treated strings only with blanks as empty. I change the test to be two tests without the if and made sure that in one case we on

[2017-07-19 01:30] mgold commented on #193
Not sure if it's relevant to this issue, but yes, it's valid to say that `Fuzz.string` should generate whitespace strings more often. They are a good edge case, and fuzzers intend to produce as many of those as reasonably possible.

Yes indeed. I should add something like that to the README *Strategies* section...

[2017-07-19 01:32] mgold opened #198 "Fuzz.string should generate whitespace strings"
Inspired by [this comment](https://github.com/elm-community/elm-test/issues/193#issuecomment-316040569).

I'm thinking 5-10% of the time, produce 1-5 characters drawn from space, tab, and newline.

[2017-07-19 01:59] rtfeldman commented on #198
I like it! 👍

[2017-07-19 20:07] rtfeldman commented on #194
@stephenhand Can you tell me more about what the info would allow? What's the intended design from the end user's perspective?

[2017-07-19 21:17] stephenhand commented on #194
@rtfeldman The specific use case I have in mind is, when providing the Karma runner with the result of an individual test you can set a 'skipped' flag in the data you provide, then reporter plugins can include details of which tests were explicitly skipped in their output.

I've found it a useful feature in the past, for those times when developers working on a feature need to temporarily disable

[2017-07-20 15:59] drathier commented on #198
I think we should follow the unicode character properties for this, except doing another grouping (e.g. all "whitespace" in the same group). Pick a random class, then a random character from that class. https://en.wikipedia.org/wiki/Unicode_character_property We can define a few groups, leaning towards more ascii characters than rest of unicode, and use `frequency` to genereate this.

I'd be happy

[2017-07-25 16:08] faraco commented on #169
This issue affects me too. Not sure why, but I'm running on Linux 32 bit. Using Ubuntu

[2017-07-25 17:08] rtfeldman commented on #169
@faraco We don't have 32-bit Linux binaries for https://github.com/stoeffel/elm-interface-to-json unfortunately... 😞

[2017-07-26 00:36] faraco commented on #169
aww,  I see.  Thanks though.

[2017-07-26 17:56] rtfeldman commented on #194
Ah, so in `elm-test`, using `skip` fails the build automatically. It's designed to be used only during local testing sessions, and never checked in. Same with `only` and `todo`.

The reason is that, in my experience with testing systems that do not fail the build when these things are used, they end up getting checked in and left ignored for months or even years.

This policy acts as a forcing fun

[2017-07-26 21:27] stephenhand commented on #194
I know elm-test reports 'failed' on a skip (which I think is a good idea) but a couple of points:
1. Even if skipped tests fail a test run, it must be better to report exactly which skipped tests failed the build to the user rather than making them go looking (given that it might be a different user trying to fix the build than the one who broke it, or indeed the same, albeit forgetful user...) ?

[2017-07-29 19:10] drathier commented on #198
I feel like `string` generating only ascii letters is a very US-centric way to do things. Most functions that use fuzzed strings should work just fine with all of unicode. I'll leave the name for now, but I feel like we should change the name and possibly split it up into ascii-letters and unicode later.

[2017-07-29 23:28] mgold commented on #198
@drathier You should open another issue, and tag it "release blocker" if you're proposing a breaking change.

[2017-07-30 12:51] drathier opened #201 "Fuzz.string only generates ascii strings"
As mentioned in #198, and #200, the Fuzz.string fuzzer only generates ascii characters in the range 32-126, which covers `A-Za-z0-9`, some whitespace and some special characters. It should generate any kind of string to make sure the code works with more characters. Even English-only users are impacted, as emoji aren't in ascii 😿.

I think we should do a breaking change and make Fuzz.string genera

[2017-07-30 13:01] drathier opened #202 "Label for issues put on hold"
We have a lot of issues right now, so I'm having a hard time telling which ones I could get started with right away. Can we use a label to mark things that are waiting for some PR to come in, some external bug fix or similar? Suggesting `on-hold`,  `blocked`, `paused`, `waiting` or similar.

[2017-07-30 13:06] drathier commented on #155
Do we want to implement this?
ping @mgold @rtfeldman

[2017-07-30 18:18] mgold commented on #202
I've created the **blocked** label.

[2017-07-30 18:18] #202 closed

[2017-07-30 18:23] mgold commented on #155
I don't see an incredibly compelling reason to add it, especially if it's in the -extra package.

[2017-07-30 23:05] drathier commented on #123
@zkessin how did it go?

[2017-07-30 23:13] drathier commented on #189
@raould do you have any update on this issue? :)

[2017-07-31 03:21] rtfeldman commented on #194
I totally appreciate this concern, but `skip` and `only` have been out for awhile now, and so far we aren't hearing reports that this is a problem in practice.

Exposing this API would impose future design constraints on us, and I don't think that cost is worth paying until we've gotten enough reports to (1) confirm the problem is happening in a significant number of cases, and (2) have enough dat

[2017-07-31 08:44] zkessin commented on #123
I don't think I ever did that test, and I am no longer working with that project.

[2017-07-31 08:50] zkessin commented on #201
I would suggest having a Fuzz.string and fuzz.utf8String or the like.

Imagine that you have a problem where somehow the Hebrew string חה were to become הח if you are not familiar with Hebrew that could be very confusing to debug, as you have 2 letters that look pretty similar swapping in position.

If we are going to do UTF8/UTF16 we want to make sure we do it really well

I assume similar proble

[2017-07-31 09:05] drathier commented on #201
I would like the default to be utf-8, so `Fuzz.string` is unicode and `Fuzz.asciiString` is the current version. I was planning on doing a small subset of unicode that should find these bugs without running into homoglyph problems, right-to-left text and other things where the rendered output is vastly different the actual string.

In javascript, the main thing to worry about is characters that do

[2017-07-31 09:08] zkessin commented on #201
Sounds good, we probably will eventually want a way to specify character set, so if someone wants Hebrew/Greek/Arabic/Russian/Hindi etc they will be able to have them

[2017-07-31 09:30] drathier commented on #201
I don't think we should let the user specify what character classes or character sets to use. That's one huge rabbit hole which could take tens of thousands of lines of code to implement in pure Elm. There are ranges of code points that can be used to select a code plane, but if you want whitespace, you'll have to manually list out the 8 different characters, and if you want mathematical character

[2017-07-31 09:36] drathier commented on #123
Could you try to reproduce it now? Otherwise, since there are no upvotes and no activity on this for the last 6 months, I say we close it. It's *probably* fixed by #118.

[2017-07-31 19:57] stephenhand commented on #194
Ok, that's cool, I know it's not a big thing so if it doesn't fit on your roadmap and there hasn't been demand for it, it wouldn't make sense for you to do it.

Thanks for the feedback

[2017-07-31 19:57] #194 closed

[2017-07-31 22:06] rtfeldman commented on #194
Thanks for talking it through! I really appreciate your patience. ♥️

[2017-08-01 03:06] mgold commented on #201
Since it sounds like `Fuzz.string` won't be removed, just changed, I'm removing the newly-renamed *major*-release-blocker label. Patch and minor releases can ship whenever they are ready.

[2017-08-02 13:25] #198 closed

[2017-08-07 18:05] drathier commented on #155
It doesn't look like this is getting added right now, so I'll close this for now.

[2017-08-07 18:05] #155 closed

[2017-08-21 16:30] yormi opened #206 "Not watching for changes when encounter errors"
The watch flag does not work when it encounters an error on the first test execution. It will be very appreciated if it'll listen the files for changes as expected when a test fails :)

[2017-08-21 21:31] drathier commented on #206
I think you're looking for this repo https://github.com/rtfeldman/node-test-runner :)

[2017-08-21 21:31] #206 closed

[2017-08-23 11:58] yormi commented on #206
Indeed ! Thanks :)

[2017-08-24 18:14] #187 closed

[2017-08-30 14:30] rtfeldman opened #207 "Syntax Highlighting"
@pablohirafuji's [`elm-syntax-highlight`](http://package.elm-lang.org/packages/pablohirafuji/elm-syntax-highlight/latest) means test runners can display syntax-highlighted output! Even better, this also means that really long records can finally be outputted in a multiline format for readability, even though `toString` outputs them as single-line.

I'd like to run the syntax highlighter on the out

[2017-08-30 14:30] rtfeldman commented on #189
Closed for inactivity.

[2017-08-30 14:30] #189 closed

[2017-08-30 15:12] drathier commented on #207
This feels like it should live in a separate repository to me, or rather two repositories; one for syntax highlighting and one for the diff logic. Do we want them to live in the `elm-test`-repo?

I feel like pretty-printing elm source code, including syntax highlighting, is a task that has very little to do with `elm-test` itself, and it's something that should have other use-cases as well, so tha

[2017-08-30 22:52] pablohirafuji commented on #207
@drathier The syntax-highlight is already done in a separate repository. Are you saying the output should live in a different repository, like elm-test-cli-output?

[2017-08-31 02:17] rtfeldman commented on #181
I tried this on Node 8.4.0 and the current `elm-test` and it worked fine. 🤔

@battermann can you check out https://github.com/rtfeldman/node-test-runner locally and run `npm install && npm test && echo "IT PASSED"` and let me know if it prints `"IT PASSED"` at the end?

[2017-09-01 11:10] drathier commented on #207
@pablohirafuji I was thinking that it's a good idea to separate the syntax tree that says what color everything should be from the output, so cli and html runners can encode the colors using css/ansi/whatever.

I really shouldn't be commenting on stuff like this when I have a fever. I'm sure you know what you're doing, so just carry on. I'd love some syntax highlight in the runners.

[2017-09-01 12:06] pablohirafuji commented on #207
@drathier I am sorry if I sound a bit too harsh. English is not my main language, so the tone may not express my real intent. Sometimes I have to confirm what I read to check if I really understood the meaning.

I would love to help make it happen! I am a newcomer here, so I don't have any opinion on the separate repository thing, but I would like to help with the syntax highlighting :)

[2017-09-07 20:12] JonathanFraser opened #208 "No easy way to compare lists (or other datasets) in a manner other than exact equals"
As the title says, take for example the case where I would like to compare a `List Float` or simlar case. There is no method to `reduce: List Expectation -> Expectation` or `customListEquals: (a -> a -> Expectation) -> List a -> List a -> Expectation`

[2017-09-08 04:33] rtfeldman commented on #208
@JonathanFraser can you show us some code (or pseudocode) of what you'd like to be able to do?

[2017-09-08 16:47] JonathanFraser commented on #208
Specifically I was implementing some numeric code (DFT), this type of transform operates in a matrix multiplication type fashion. Moreover, it uses complex numbers so I need a custom data type to capture the pair. The type signature of the function in question is:
`dft: List Complex -> List Complex`
There is a corresponding inverse (idft) with the same signature and I need to validate the property

[2017-09-09 07:41] jwoudenberg commented on #208
It sounds to me like you want a functions of the sort existing in this module: https://github.com/NoRedInk/elm-formatted-text/blob/master/tests/EqualCheck.elm

Granted, the functions there's not a `EqualCheck a -> EqualCheck (List a)` in there, but it would be easy to imagine it can be added.

That might be a nice idea for a library.

[2017-09-11 18:11] battermann commented on #181
@rtfeldman Sorry for the delay. I tried it on three different machines (on my local machine running elementary OS, in vagrant box running Ubuntu 17.04 Zesty Zapus, and in Virtual Box image Ubuntu 17.04 Zesty Zapus from osboxes.org) . It all printed "IT PASSED" at the end.

[2017-09-18 10:32] joshhornby opened #209 "Snapshot testing"
One of my favourite Jest features is [Snapshot testing](https://facebook.github.io/jest/docs/en/snapshot-testing.html).

We can already test views using [elm-html-test](http://package.elm-lang.org/packages/eeue56/elm-html-test) but I believe snapshot tests are cleaner and easier to work with.

I know @rtfeldman mentioned on Slack that he is planning on adding snapshots, so this issue is to keep tr

[2017-09-19 19:19] mgold commented on #209
I've used Jest snapshots with React components before, and haven't found them useful. When something doesn't match up, it's not worth the time to review the snapshots to see if there's been a serious regression. When you're maintaining a UI, like Facebook, I can see the use; when you are bringing up a UI and expect DOM changes, they get in the way. My experience is that they cause a lot of headach

[2017-09-22 06:58] drathier commented on #209
I agree with mgold. Snapshot tests seem to test the code after too many transformations, so it's hard to know what was supposed to be changed and what was a real bug. It also depends on the device, browser, screen size etc. so you have to test a lot of screen sizes and devices, which requires a decent amount of infrastructure. I feel like this is only really useful for larger organizations, due to

[2017-09-22 13:39] rtfeldman commented on #209
Wow, really interesting perspective!

I've heard positive things from others, but clearly there is another side to this story. 🤔

[2017-09-22 16:25] joshhornby commented on #209
Where I saw the biggest benefit was when refactoring some react components, I wanted the component to look the same way (css styles etc) but instead I was updating some internal logic (in this case how the map and filtering worked). I guess I could achieve the same with elm-html-test but personally I find snapshot testing an easier way to achieve this. As I don't have to write assertions or write

[2017-09-23 01:02] mgold commented on #209
I guess it all comes down to how mature and (relatedly) stable your UI is. It's only possible for a snapshot test to fail if you change a view function. It's only possible for a snapshot test to fail *usefully* if you are refactoring your view function (not expecting to change the behavior), but make an error not caught by the compiler or some other view test. I suspect that most changes to the vi

[2017-09-24 18:20] rtavenner commented on #109
One thing that nobody has brought up yet: The `promote` function would also be useful for defining fuzzers for lazy infinite data structures.

[code]

I don't know if this is useful, but it's something to think about.

[2017-09-25 23:16] pablohirafuji commented on #207
I made a [toConsole](http://package.elm-lang.org/packages/pablohirafuji/elm-syntax-highlight/2.0.0/SyntaxHighlight#toConsole) function in the SyntaxHighlight package. Hope it helps!

[2017-09-26 06:33] jwoudenberg commented on #209
I think the core of the problem here that writing nice tests for your views is hard. It starts with the compiler only giving you minimal guarantees when it comes to your view functions: it will only ensure your view returns `Html msg`, so basically "syntactically valid Html". The space of "syntactically valid Html" is huge, so the space for errors (returning the wrong valid Html) is huge.

So we w

[2017-09-27 15:33] lpil commented on #135
Hello! I'm using `isOk` and friends a lot in my tests and think they'd make good additions to `Expect`.

Ignoring the discussion around the more specialised `decodableBy`, could these get added? I'm happy to make a PR providing the implementation if it will be accepted.

[2017-09-29 09:03] dustinfarris opened #210 "module name conflicts (Util)"
I have a `Util.elm` which seems to conflict with elm-test's module of the same name.

This is the output I get:

[code]

If I rename my module to `Utilities` the error goes away.

[2017-09-29 11:03] jwoudenberg commented on #210
Hey there! On what basis do you believe it's elm-test's `Util` that you have the conflict with? The module does exist, but it is not exposed from this library (https://github.com/elm-community/elm-test/blob/master/elm-package.json), so it shouldn't cause conflicts with module's of that name outside the library.

Could it be that your conflicting `Util` module comes from a different library? Or per

[2017-09-29 11:04] dustinfarris commented on #210
Hi @jwoudenberg thanks for the reply.  I'm basing this on not having any conflicts until I installed and ran elm-test.  :-)

[2017-09-29 11:07] jwoudenberg commented on #210
Ok, fair enough :-).

Just for my understanding, did you add elm-test as a dependency to your root project, or did you create a separate directory containing your tests and installed elm-test in there? In the latter case, could it be that your test modules and source modules both contain a `Util.elm` module?

[2017-09-29 11:12] dustinfarris commented on #210
This output might be helpful (elm-package.json files and tree):

https://gist.github.com/dustinfarris/28f138f4b64b522147d881c027a746bc

I do not have any other module called Util.

Another observation, I can add

[code]

and there are no errors with reference to that.  (that is an export from elm-test's rangeLengthList)

However this only happens if I happen to have Util.elm as well.  If I rename

[2017-09-29 11:28] jwoudenberg commented on #210
I've tried to reproduce your situation here but haven't managed to reproduce your error: https://github.com/jwoudenberg/debug-elm-test-issue-210

It seems to find the local `Util` module fine, both when running `elm-make` and when running `elm-test`. Also when I try exposing `rangeLengthList` I get the expected error that Util doesn't expose that function for either command.

Am I doing something

[2017-09-29 11:39] dustinfarris commented on #210
I adjusted the repo to reflect my scenario and it still does not reproduce what I am seeing in my private project.

[2017-09-29 12:06] jwoudenberg commented on #210
Interesting. Perhaps we can work from the other end, removing code / packages from your private project to work towards the simpler scenario in the repo I shared? The point at which it stops failing might tell us something useful.

[2017-09-29 22:42] willisplummer commented on #209
I've really enjoyed using a suite of snapshot tests in conjunction with unit tests in Javascript. The unit tests allow for you to assert about the specifics of how a thing will work while the snapshots can catch weirder bugs as the application scales and provide a general picture of what's changing in view components. Definitely think the ability to accept the changes with press of a button is key

[2017-10-03 01:58] mgold commented on #209
If we add snapshot testing, we will definitely incorporate one-button updating and other ergonomic features from Jest. But even that is one button too many if the tests don't catch bugs. Determining whether they do or do not will be much easier with a prototype.

**Help wanted:** Create a prototype implementation of snapshot testing (likely a standalone script that records the output of `Html a` a

[2017-10-03 07:16] jmedding opened #211 "Expect.within for Relative does not work for negative values"
`99.9 |> Expect.within (Relative 0.01) 100`

 will pass, but

`-99.9 |> Expect.within (Relative 0.01) -100`

will fail

[2017-10-03 15:04] drathier commented on #211
I have a lot of other things to do first, so I won't fix this before Friday, and probably not until next weekend. If someone wants to fix it earlier than that, please go ahead. We're obviously missing test-cases for negative relative numbers, so I'd guess this affects Absolute as well.

I'd write more tests first, and make sure there are tests for all incorrect cases before going about fixing them

[2017-10-04 04:49] jmedding commented on #211
I created a pull request.

[2017-10-06 20:41] drathier commented on #211
Fixed in #212

[2017-10-06 20:41] #211 closed

[2017-10-14 15:31] drathier commented on #210
I just hit this as well, when initializing elm-test in a project that already had a module named Util. Elm-make works fine in the project root, but when run from elm-test, which imports my source from a `../` directory, it finds the Util in elm-test itself, rather than the one in my project. A quickfix would be to prefix all elm-test modules with `ElmTest`, which is ... not ideal. I'm guessing thi

[2017-10-14 17:53] eeue56 commented on #210
Colliding module names is not a bug. They should be prefixed.

[2017-10-14 17:58] drathier commented on #210
@eeue56 `Util.elm` is not exported from elm-test, so you shouldn't be able to reference it from a module that just depends on elm-test.

SSCCE available at https://github.com/drathier/sscce-elm-test-util . Reporting as a compiler bug, since it only happens with an imported library (elm-test), which should be isolated.

[2017-10-14 23:55] eeue56 commented on #210
@drathier I don't follow your explanation

[2017-10-15 00:06] eeue56 commented on #210
@drathier I found the problem:
[code]

Change that to anything that's not elm-community/elm-test and it will work. it should probably have a better default.

[2017-10-15 00:52] mgold commented on #210
So in [this file](https://github.com/rtfeldman/node-test-runner/blob/master/templates/tests/elm-package.json) then?

`"https://github.com/user/project.git"` is probably fine, since it doesn't exist and also I think `elm package publish` gives an error if you try it.

[2017-10-15 10:31] drathier commented on #210
Nice catch @eeue56! Opened a PR with @mgold's change and updated the compiler issue. All done from our side, and we have an easy fix for those affected. Good times!

[2017-10-15 16:28] rtfeldman commented on #209
Really interesting perspective. These points resonate with me: https://twitter.com/searls/status/919594505938112512

[2017-10-15 19:45] mgold commented on #210
@dustinfarris, please verify that changing the `repository` field in `tests/elm-package.json` resolves the issue.

[2017-10-17 20:50] rtfeldman commented on #209
Here's another interesting viewpoint:

https://twitter.com/briantford/status/920349861630717952

[2017-10-17 22:00] drathier commented on #209
I would really like to know if one of the intermediary representations in e.g. chrome would be good to test against, before it gets rendered to pixels. It would be an AST, but with unfamiliar syntax, so you could dig deep and only look at the thing you care about, even if it moved on screen.

[2017-10-23 22:29] pbiggar commented on #208
I had this problem too. I have two lists and want to check that one is a subset of the other (with some slight domain-specific complexity as well). I have a predicate I can use to test the subset part, but I lack the ability to make an Expectation with the two inputs. Right now I'm doing:

[code]

[2017-10-29 08:17] tkreis commented on #209
@mgold  I've started to _hack_ an simplistic snapshot testing module a while back. https://github.com/tkreis/snapshot/tree/master.

My local version also checks for onClick handlers but this won't work without modifying the `elm-html-in-elm`, therefore it hasn't been pushed.

[2017-10-29 12:36] eeue56 commented on #209
@tkreis Bring it up on Slack in #testing, and I can help out with what you need

[2017-10-29 12:36] #210 closed

[2017-10-29 21:51] eeue56 commented on #210
Closed due to the fact I'm certain this is fixed.

[2017-11-06 15:32] andys8 opened #213 "Utility expectations"
I'd like to have utility expectations added to `elm-test`. Any chance they would be accepted or should they live in own libraries?  I want to know if there is interest in making the use of this library less verbose but potentially less concise.

I'm thinking about `isJust`, `isOk`, `isErr` (and not ignoring the error message like `err` does) for union types which are [imported by default](https://

[2017-11-06 15:55] eeue56 commented on #213
See this: https://github.com/elm-community/elm-test/issues/135

[2017-11-06 15:55] #213 closed

[2017-11-06 19:34] andys8 commented on #213
Thanks for the hint @eeue56 . Good to see more interest in the topic.

[2017-11-14 17:57] ocharles opened #214 "A way to combine Expectations"
The API currently allows this, but it can be made nicer with a combinator:

[code]

I'm using this in a behavior test where I need to expect multiple things across multiple models:

[code]

[2017-11-14 17:57] ocharles commented on #214
I guess I could also just make one big Bool and expect it to be True, but this feels like less of an abuse of the API.

[2017-11-15 05:14] mgold commented on #214
In general, there is a tension between a test that is simple and clearly indicates the bug when it fails, versus tests that need to be complicated, and while you're going through the trouble you might as well make multiple expectations -- which can often make for poorer failure messages.

The best use of `Expect.all` is to compose may expectations that are somehow related.
[code]

It looks like yo

[2017-11-15 10:58] ocharles commented on #214
Both reasonable suggestions! I will have a play and report back.

Thanks, I missed that when reading the documentation.

I hear you on this. I wrote it because I couldn't see the alternatives, so maybe the real solution is to document more examples. I felt like my test scenario was about the right scope for a test - I couldn't really see how to break it down into anything smaller. For context, the

[2017-11-16 03:17] mgold commented on #214
Ah, that explains why you have the literal `1` and `2`. Looks like that's how you are simulating the out-of-order responses, so there's no way to derive them or something.

That's an interesting idea. Typically these examples are somewhat contrived. It might be need to
ask production users to submit tests they don't feel good about, along with an extracted implementation of the code under test. Th

[2017-11-17 11:03] joshhornby opened #215 "Fuzzer.date"
After looking through the docs I was surprised to not find a fuzzer for dates.

After asking on Slack @zwilias said:

I think it would be nice to have a date fuzzer in this package, so opening an issue for further discussions

[2017-11-18 13:44] ocharles commented on #214
I'm not sure what to do with this issue. If you're not yet convinced about a need for `andAlso` then we can close this. I'm not suggesting that I think the above is ample motivation, but maybe you can think of other cases where it would be useful. For my immediate problem above though, I think I'm going to take you up on your suggestions and rewrite my test to test a single behavior.

[2017-11-24 17:36] rhofour opened #216 "Add listOfLength for fuzzing lists with a specific length"
I was thinking something like:
listOfLength: Int -> Fuzzer a -> Fuzzer (List a)

This looks like it shouldn't be too hard to generalize from the existing list function. The major benefit would be to allow users to decide their own probability distribution over the generated list length (using something like Fuzz.andThen). This is what motivated me to suggest this and it would limit the severity of

[2017-12-02 20:39] rhofour opened #217 "Non-printable characters aren't escaped"
Right now it's impossible to tell he difference between String.fromList [ '\1', '\2' ] and an empty string when used as an input to a fuzz test. This caused some confusion when I thought the input was an empty string.

I'm not sure what the right solution is here, but as-is this a bit of a problem.

Perhaps we could check if a string contains unprintable characters and display it as: String.fromLi

[2017-12-02 21:24] mgold commented on #217
Is this an issue with elm-test itself or the node runner?

[2017-12-03 01:28] salutis opened #218 "Make output coloring more legible"
See the following `elm-test` output in Visual Studio Code's console:

<img width="211" alt="screen shot 2017-12-03 at 02 18 32" src="https://user-images.githubusercontent.com/1158274/33521370-687b0b84-d7d0-11e7-9b75-5c9e6e89c9d0.png">

I found it hard to read the `0` and `42`.

On a white background in macOS' Terminal, it's not much better:

<img width="235" alt="screen shot 2017-12-03 at 02 20 26

[2017-12-03 12:35] drathier commented on #217
If this is a string generated by `Fuzz.string`, we're waiting for a patch release of elm-core, so we can release #204, which should fix this (assuming you have unicode support in your terminal).

[2017-12-03 12:51] drathier commented on #218
Pretty sure this is a request for the [node test runner](https://github.com/rtfeldman/node-test-runner) rather than for elm-test itself.

@rtfeldman did we implement colors in the runners or in elm-test?

[2017-12-03 19:57] rtfeldman commented on #218
Yeah, this is a runner issue.

@salutis can you reopen this on https://github.com/rtfeldman/node-test-runner/issues ?

[2017-12-03 19:57] #218 closed

[2017-12-03 20:36] rhofour commented on #217
This isn't from a string generated by Fuzz.string. I'm fuzzing binary strings containing characters 0 to 127 and running into this issue because a lot of them aren't printable (and none are unicode characters).

I don't know if the problem is in elm-test or the node runner.

[2017-12-03 20:41] drathier commented on #217
Okey, two options then. Either elm-test decides what's printable, and outputs hex digits or similar if there's an unprintable character in a string, or the runners do the same thing. The main issue is figuring out what's considered printable, and what isn't. Maybe we can just show it as `"" (hex: [0x01, 0x02])`, rather than `""`, if there's a single unprintable in there?

[2017-12-03 20:44] salutis commented on #218
@rtfeldman

Reopened as https://github.com/rtfeldman/node-test-runner/issues/229. Thanks!

[2017-12-03 21:01] rhofour commented on #217
Your suggestion for how to display it sounds good to me. For ascii detecting if it's printable should be pretty easy, but I don't know how to extend it to unicode.

Like I mentioned above, I'd also be happy having a user-settable printing function. That way I can always have it print the hex values for my unusual use case. I imagine at least some other people might also have cases where the defaul

[2017-12-06 16:13] liamcurry commented on #215
Here are some possible implementations:

[code]

[2017-12-14 16:46] thenikso opened #220 "On testing Cmd.batch in update functions: `Expect.cmd`?"
Hi all!

This is more of a question but I add a proposal to have it be issue worth :P

I would like to test an `update` function so that I am sure that a specific case generates a specific command. The problem is that the command is in a `batch`.

How would you go about it? Would it make sense to add an `Expect.cmd`, which would match both a Cmd to Cmd and a Cmd inside a batch?

Thanks!

[2017-12-14 17:36] drathier commented on #220
It's hard to test against `Cmd` since it's opaque (we can't read its contents), barely type-safe (the `a` in `Cmd a` is discarded) and defined in javascript (magic). I can't think of a way to test the built-in `Cmd` type. I'm not even sure equality works on it.

You could define your own and use that, or any kind of non-opaque datatype, and test against that. It wouldn't quite match the semantics

[2017-12-16 07:27] simonh1000 opened #221 "Weird error in synced environment"
I use a sync program to keep my to dev computers in sync. It works in general, but I experience issues with elm-test, as when I switch from one computer to another, elm-test fails until I delete the elm-package directories (seemingly in both the root and `tests` directories). What I see is

[code]

[2017-12-16 08:53] drathier commented on #221
I'm 99% sure this is not an issue with elm-test. We're not touching the elm-stuff directory ourselves. Is it possible for you to exclude elm-stuff from synchronizing? It's very likely to contain per-computer data, so it should be generated locally on each device.

[2017-12-16 14:11] simonh1000 commented on #221
yes I do. I have changed the setting to avoid that and will report back when I have more data

[2017-12-17 22:36] MartinKavik commented on #216
Hi, it would be nice to have even more flexibility:
[code]
It can favour shorter lists like the current `Fuzz.list`.

---

I'm creating combinatorics library, so my use-case is:
[code]
Thanks!

[2017-12-18 10:41] thenikso commented on #220
Yes, continuing my exploration I also realised that while testing an update command, you always want to test the batch as a whole when you come to it.

So doing an `Expect.equal` is preferable anyway.

Thanks, feel free to close this if there is no more segue.

[2017-12-18 18:44] drathier commented on #220
For future reference, what did you end up doing? Can you compare `Cmd` to see if it was built in the same exact order, or is it order-independent? Sounds like it's at least comparable.

[2017-12-19 00:05] gogocurtis opened #223 "elm-test --watch Parse Error"
Hi, for some reason "supervisor.js" is getting empty data and trying to parse it on line 121

I think this happend when I upgraded to Node 8.6 LTS

I added this in supervisor so that when the data is empty it will not crash.
[code]

[2017-12-19 06:54] drathier commented on #223
Supervisor.js is a part of the node test runner, rather than elm-test. It lives over at https://github.com/rtfeldman/node-test-runner/blob/master/lib/supervisor.js

Could you open an issue in that repo instead? :)

[2017-12-19 08:27] zwilias commented on #223
@gogocurtis Also check you're on the latest version (0.18.12), I think [we fixed that](https://github.com/rtfeldman/node-test-runner/blob/0.18.12/lib/supervisor.js#L121-L125) :)

[2017-12-19 08:27] #223 closed

[2017-12-19 09:12] drathier commented on #223
The best kind of bug report response; it's already fixed, and you can download the new version within the next minute 🌈

[2017-12-19 18:39] gogocurtis commented on #223
Aww Thank you both! For pointing me to the right repo and highlighting the
fix!

On Tue, Dec 19, 2017 at 1:12 AM, Filip Haglund <notifications@github.com>
wrote:

[2017-12-24 00:16] rhofour commented on #217
It looks like the expected and actual parts are formatted in Expect.testWith:
[code]
I'd like to propose attaching formatters to Expectations. These would default to toString for simplicity and backwards compatibility, but could be changed in less common cases like mine.

Could I get something like merged in?

[2017-12-24 00:39] rtfeldman commented on #217
I'd much prefer @drathier's proposed solution:

@rhofour if you're interested in working on this approach, I think a good next step would be to open another issue proposing how this would work!

[2017-12-24 01:31] rhofour commented on #217
I think in that case the right place to implement it might be in Elm's toString. Otherwise we'll end up pretty dependent on the details of how toString works and likely with something that doesn't look as nice.

For example, consider something like this:
[code]
If you run toString on x you get:

Where the bytes 0x01 and 0x02 are printed, but don't display because they're non-printable.

If we foll

[2017-12-24 01:57] rtfeldman commented on #217
@rhofour - sorry, would you mind opening a new issue to discuss the implementation? I don't want that thread to get mixed with this one. 😅

[2017-12-24 16:41] rhofour opened #224 "FR: Add expect functions which take custom formatters"
Consider a test like this:
[code]
When run the output looks like this:

Notice that it's not possible to tell what's wrong because of how these strings are formatted. I've personally lost quite some time debugging something very similar to this.

I'm proposing adding a couple of new functions like Expect.equalFormatted:
`Expect.equalFormatted : (a -> String) -> a -> a -> Expectation`

It could be

[2017-12-24 16:42] rhofour commented on #217
I opened #224 specifically for adding custom formatters.

[2017-12-24 19:05] rtfeldman commented on #224
@rhofour sorry I seem to have miscommunicated this, so let me be clearer about this: I do **not** want to see some way of adding custom formatters. Please do not make a PR for adding them.

I'm open to considering custom formatters a last resort, but I strongly believe that tests should be as low-friction to write as possibles. Custom formatters are not something I want to impose on people writing

[2017-12-24 19:05] #224 closed

[2017-12-24 19:22] rtfeldman opened #225 "Distinguishing between identical-looking characters in test output"
As https://github.com/elm-community/elm-test/issues/217 notes:

This is a problem that exists regardless of which test runner you're using, and regardless of what kind of test you're writing (fuzz or not).

Here's an example of test output that could be confusing right now:

[code]

Those look identical! Why did `Expect.equal` fail?

Suppose if we detected nonprintable characters and escaped them

[2017-12-24 19:22] rtfeldman commented on #224
I opened https://github.com/elm-community/elm-test/issues/225 to describe what I had in mind instead!

[2017-12-24 21:02] rhofour commented on #224
I'm not sure you're completely following what I'm suggesting. This would involve the addition of new functionality, but it's perfectly backwards-compatible. That is, everything would continue to work as it always has and there would be no additional friction. People could use custom formatters if they wanted, but could also completely ignore them and use elm-test like they do today.

I'll take a l

[2017-12-24 21:28] rhofour commented on #225
Things get a little more complicated when you consider we might see more than just a string, but I think this could still work. Consider:
`type Foo = Foo String String`

I imagine we would want to handle things like this:
[code]

I believe tricky bit there would be inserting the parenthesis properly.

Alternatively, if we could get the upstream toString function to behave this way then we'd get th

[2017-12-24 22:29] drathier commented on #225
The `\xA0` parsing looks like a compiler bug to me, or a really strong feature request. We cannot escape unicode characters safely without using `++` and not mixing unicode literals and unicode escapes in the same string literal.

I'm 100% for splitting strings into `"foo" ++ "\xA0" ++ "bar baz" given the current compiler constraints.

The main question is, which characters do we consider printabl

[2017-12-24 22:55] rtfeldman commented on #225
That's a good point. Given that Evan rewrote the parser for 0.19, this may not be an issue after then. 🤔

For that to be true, I think there would need to be other compelling use cases for that, and I'm not sure what those would be. It seems like we have identified one case where we want this behavior: `elm-test` output. 😄

Agreed! Here's an idea:

* If what we're working on begins and ends with `

[2017-12-24 22:58] rtfeldman commented on #224
The bolded part is the full extent of what I object to. 😄

Making the API bigger means there's more to learn and more choices for people to make in the course of using the library. Both of these are undesirable, all else being equal.

Since expanding the API (of any library) is by default a negative, I want to avoid it whenever there appears to be a fine solution that doesn't require expanding the

[2017-12-25 16:07] rhofour commented on #225
I like the idea of breaking things like this, but I agree it could be more confusing as-is. How about doing the same splitting, but still printing "normal" characters like this:
[code]
That way it's still easy to compare the space vs. the unicode space, but it's also easy to see what the regular one is.

I think the same issues apply anywhere where a person is actually reading the output of toStri

[2017-12-25 16:21] rhofour opened #226 "Expectation formatting makes it hard to deal with binary data"
Since Elm doesn't have a distinct binary string type, binary data often ends up being represented as a string such as in [elm-comidi](https://github.com/rhofour/elm-comidi/tree/generate) (an Elm MIDI parser). I'm currently writing tests for elm-comidi which end up spitting out binary to my terminal when they fail.

For example:
[code]

It's difficult to figure out what's going on here for a couple

[2017-12-25 16:32] zwilias commented on #225
As far as I'm aware, this will be solved by removing octal and hexadecimal escape sequences, in favour of unicode escape sequences `\u[a-fA-F0-9]{4}`. So `\xA0` would become `\u00A0` which takes case of the parsing ambiguity.

[2017-12-25 21:09] drathier commented on #225
I would like to print both, like in my snippet above. It's really unhelpful to get `"\xD83E" ++ "\xDD13" ++ "\xD83D" ++ "\xDE0E" ++ "\xD83C" ++ "\xDF08" ++ "\xD83D" ++ "\xDE0D"` instead of `🤓😎🌈😍`.

So I would like something like this:
[code]
(without all the `++`, using `\u12345` escapes, if that's supported in 0.19)

We would highlight the diff in both the string and the unicode-safe output. I'm

[2017-12-25 21:15] drathier commented on #226
I would recommend defining a function `serialize : Midi -> String` which pretty-prints the binary data in a human readable format. Then you can use `serialize a |> Expect.equal (serialize b)`.

It's very hard for us to handle binary data in a general way; you know much more about your binary data than we do. #225 might help a bit.

[2017-12-25 21:28] rtfeldman commented on #226
I agree that this is the best solution, and I think we should choose the best solution!

Another way of saying this is: Elm doesn't currently support binary data, but in the meantime we could make `elm-test` worse.

I don't think we should do that. 😅

It seems like the root of the problem is that you're using a string to represent arbitrary binary data. Is this the best format in which to represen

[2017-12-25 22:11] rtfeldman commented on #225
Oh, excellent!

That's interesting. We could show hints whenever we do this, e.g.

[code]

We could always show the `"\u____" displays as the  string "__"` part of the hint whenever we do that substitution, and have a few hardcoded supplemental messages for likely offenders such as "a nonbreaking space", "a zero-width space", etc.

[2017-12-26 04:00] rhofour commented on #226
@drathier:

That's what I proposed as a hack that could work. It has the unfortunate side-effect that the serializing has to happen twice for every test even if it passes, but it should work. It also then can introduce false negatives if I don't include enough information in my serializer's output, but I don't think that's a serious concern.

@rtfeldman:

I got the impression this wasn't a priorit

[2017-12-26 04:27] rtfeldman commented on #226
Oh! If those are the only drawbacks to that approach, you can just do this:

[code]

[2017-12-26 15:09] rhofour commented on #226
Huh, that never occurred to me, but it looks like just what I need, thanks!

[2017-12-26 15:09] #226 closed

[2017-12-26 15:34] rtfeldman commented on #226
Happy to help! Thanks for being patient through all the discussion. 😄

[2017-12-26 17:02] drathier commented on #225
Looks like Evan has switched to `\u` escapes when generating javascript just over a year ago: https://github.com/elm-lang/elm-compiler/commit/3ad0db6e8b5521cab209906631d7267c0d5ae61d

Guessing that means that we'll get `\u` escapes in elm soon enough.

[2017-12-29 03:51] mgold commented on #225
I like @drathier's idea of displaying the unicode in addition to the normal output. I wonder if we can intelligently display this only when there are special characters present?

It also sounds like we should wait for 0.19, and gather more examples of characters that are problematic in practice.

[2017-12-31 21:52] rhofour opened #227 "Test is throwing exception: "TypeError: shrink1 is not a function""
After expanding one of my fuzzers slightly my test began failing because of an exception.

It appears shrink1 is an internal function in elm-test, but I don't know enough about how elm-test works under the hood to know why this might be happening.

Commit that causes crash: https://github.com/rhofour/elm-comidi/commit/0d62c8ff4ce526a33b2aa424118bec4eaef261a2

[2018-01-01 00:29] rtfeldman commented on #227
I was able to reproduce this by checking out that commit. 👍

When I ran `elm-test` on that commit, the generated JS (`elm-comidi/elm-stuff/generated-code/elm-community/elm-test/elmTestOutput.js`) included this:

[code]

This is the only place anything named `shrink1` got called as a function, and I hacked the `elm-stuff` source of `elm-community/shrink` to verify that this is indeed the call site

[2018-01-01 00:34] rtfeldman commented on #227
I thought maybe the problem was the Node test runner doing funky hacks, but I tried running this in [the HTML runner](http://package.elm-lang.org/packages/elm-community/html-test-runner/1.0.6/Test-Runner-Html) and it's reproducible there too!

[2018-01-02 23:13] rhofour commented on #227
There shouldn't be any native code involved. elm-comidi and elm-test don't have any. If it fails in the HTML runner then that should rule out the Node runner.

Does that mean this is an Elm bug or is there some other alternative?

[2018-01-03 00:16] rtfeldman commented on #227
Definitely seems like an Elm bug to me!

[2018-01-03 06:48] mgold commented on #227
Marking as "out of scope" to indicate upstream (language) issue.

[2018-01-03 17:27] rtfeldman commented on #227
Evan [commented on Slack](https://elmlang.slack.com/archives/C13L7S5GR/p1514943870000154):

[2018-01-03 17:53] rtfeldman commented on #227
Turns out there are at least two compiler bugs here.

@eeue56 [commented on Slack](https://elmlang.slack.com/archives/C13L7S5GR/p1514940171000052):

On that branch the tests [request `elm-community/shrink` in `elm-package.json`](https://github.com/rhofour/elm-comidi/blob/0d62c8ff4ce526a33b2aa424118bec4eaef261a2/tests/elm-package.json#L15) but use the latest `elm-community/elm-test`, which depends

[2018-01-03 18:30] rtfeldman commented on #227
Okay, apparently the 0.19 compiler already includes package name as part of type unification, so neither bug should happen anymore.

I'm gonna leave this open as a "let's circle back to it and make sure it's no longer reproducible post-0.19," but I don't think any changes are needed on the `elm-community/elm-test` side. 😄

[2018-01-07 15:37] hickscorp commented on #12
Is there a place that documents the native API of Elm, and possibly a list of things that are expected to be deprecated?

[2018-01-07 16:23] rtfeldman commented on #12
@hickscorp see https://groups.google.com/forum/m/#!topic/elm-dev/bAHD_8PbgKE

[2018-01-07 16:38] mgold commented on #12
To loosely quote Evan from a recent Elm Town podcast, "why should I have a document to say that something isn't a thing"? Essentially, stay out of native/kernel code. And in the case of this repo, do as we say, not as we do :P

[2018-01-10 20:27] avh4 opened #228 "Add `Expect.any` to complement `Expect.all`"
I had a need for the following function, which passes iff at least one expectation in the list passes.  I think this should be added as `Expect.any` to parallel `List.any`/`List.all`.

[code]

Before adding, this would need to refactor to have a private helper function that would build up the list of failure reasons to display if all the expectations failed.

[2018-01-10 21:24] drathier commented on #228
How do we visualize n failure messages, though?

[2018-01-10 21:47] avh4 commented on #228
I imagined the message would be something like what `elm-html-test` does:

[code]

[2018-01-10 22:20] drathier commented on #228
Each of those would have the expected and actual values as well, right? So that's a lot of text. I think I like the idea, but only if the execution is good. Let's see what other people think :)

[2018-01-11 03:04] mgold commented on #228
I think the problem with `Expect.any` is that you are making a *weaker* claim about your code than any of the subclauses alone. That is, you are saying "I don't know which of these cases will turn out to be true".

Your test should probably be split up more. Either write multiple tests with more specific fuzzers, or do case analysis on your result to see which expectation you think should apply.

[2018-01-11 10:29] drathier commented on #228
What are your use-cases @avh4? What are people using it for in elm-html-test?

[2018-01-11 17:44] avh4 commented on #228
Here's the test I have; what would you suggest?

[code]

I don't want to force the implementation to show one or the other, because both are correct in the context of the specification that I want to enforce.  I don't want this test to break unnecessarily if someone changes the implementation.

[2018-01-12 05:06] mgold commented on #228
I think it's pretty strange that you can have two correct answers but I will trust that it makes sense in a specific, isolated context.

Does that justify inclusion in the library, where we say "this is a common thing to do and frequently a good idea"? I don't think so. I think the fact that you are able to write `expectAny` with the exposed API means that the API is already sufficiently flexible

[2018-01-13 01:33] avh4 commented on #228
Further arguments for including `Expect.any`:

- `all`/`any` parallel `&&`/`||`; even though `any` would be infrequently used, it's still needed to provide a complete API
- The example given for `all` is `all [ greaterThan -2, lessThan 5]`, which is testing whether the subject number is in the range (-2, 5).  `any` would be required to test whether a subject number is *not* in the range (-2, 5), s

[2018-01-13 04:45] mgold commented on #228
Alright, I'm ... still reluctant, but not completely opposed. We should include useful and dangerous use cases of these functions in the docs.

[2018-01-14 02:43] avh4 commented on #228
Okay, I can prepare a PR at some point, then.

As a final consideration of whether it's something to not add, maybe it would be useful to try to come up with an example of how `any` might be used to write a really bad test?

[2018-01-15 01:23] mgold commented on #228
Ooh, that's an interesting exercise. Although for completeness you'd need to verify that it isn't just as easy to come up with a bad test using `Expect.all`.

My initial intuition is something that tries to have each expectation in a list correspond to one case of a union type, which should be discouraged in favor of handling each case explicitly. However, it turns out this is harder to write than

[2018-01-15 19:18] reiner-dolp opened #229 "Generated Filesystem Paths on Windows"
On Windows, `elm-test init` writes paths with escaped backslashes like shown in this
snippet taken from the generated `tests/elm-package.json`:

    "source-directories": [
        "..\\src",
        "."
    ],

This results in `I cannot find module '...'` errors if `elm-test` is executed on linux hosts.
As forward slashes seem to work on windows, `elm-test` should probably just generate
forward s

[2018-01-15 20:05] drathier commented on #229
I believe `elm-test init` lives in the [node test runner](https://github.com/rtfeldman/node-test-runner). Post an issue there instead :)

[2018-01-15 20:05] #229 closed

[2018-01-15 20:25] reiner-dolp commented on #229
Thanks. Reported as rtfeldman/node-test-runner#244

[2018-01-22 03:22] mpizenberg commented on #161
Hi, I've seen that the removal of andThen is already done in a PR, but I'd like to add one use case.

I'm testing a linear algebra package, and doing so, I need to verify invariants on operations, for example `trace ( A + B ) == trace A + trace B`. More invariants example listed [in this issue][invariants-issue].

To do so, I need to generate random matrices of a given compatible size for the oper

[2018-01-22 07:23] mgold commented on #161
`andThen` is all about using randomness to drive more randomness. `mapN` is about transforming randomness in a non-random way. So what about:

[code]

You'll need to convert values of `MatrixType` into functions that make matrices. If you can randomly pick from a list of those functions and avoid the union type, do that.

[2018-01-22 08:01] mpizenberg commented on #161
Yes that's exactly what I need. Or maybe I'm misundersanding something else. The matrices are to be generated of a random compatible size, and their content is then also randomly generated (`dataFuzzer` in previous example, code below).
I cannot generate a random matrix only from it's dimensions and it's type, there needs to be a side effect somewhere. Well actually there is a way if I also genera

[2018-01-22 08:14] mpizenberg commented on #161
@mgold I think the fact that I had the intermediate `oneOf` in the example is misguiding sorry about that. You could consider the same example but only with `rawMatrixSized` like below. `dataFuzzer` code is in previous post. Basically it generates an array of random floats, of a given size.
[code]

[2018-01-22 11:12] jwoudenberg commented on #161
Hey @mpizenberg, can you share your experience using `Fuzz.andThen` so far? Based on what your describing it does sound like `Fuzz.andThen` fits your use case very well, but I'd also expect you to run into weird crashes and hanging tests every now and then, especially when test cases are failing. Have you seen any of that?

If so, then the reason for that might be that the amount of shrinking poss

[2018-01-22 13:09] mpizenberg commented on #161
@jwoudenberg Yes sure! Let's first say that this project is very much a WIP and I'm not spending a lot of time on this one, so take into account that it's not a priority to me. If I have to do another way, I will, it's just that it was quite convenient ;) Like Evan said, if you provide functionalities to users they will use it ^^.

So, while I'm developping, I only test with very low sizes any way

[2018-01-22 15:03] mpizenberg commented on #161
Yes that was the first thing I was doing at the beginning except troncating the bigger matrix instead of completing the smaller one. I eventually stopped doing so for two reasons:

1. The knowledge that I was "loosing" time by generating more random values than necessary was annoying me. In practice timing was not really an issue though since as previously said max matrices size for tests was 16x1

[2018-01-23 04:50] mgold commented on #216
If we're going to do this, and I'm not saying we are, why not: `Fuzzer Int -> Fuzzer a -> Fuzzer (List a)`?

[2018-01-23 04:58] mgold commented on #161
I see your problem better now, thank you for explaining.

I'd be more concerned with shrinking inefficiencies. Shrinking a number that is discarded by the test is useless.

A point made waaay up in this thread is that advanced users should use `Fuzz.custom`. This means supplying your own `Random.Generator a`, which looks a lot like building up fuzzers and supports `andThen` without issue, and your

[2018-01-23 06:48] mpizenberg commented on #161
You're probably right on this one. I think the issue was that, since I could create the fuzzers I needed with `andThen` I considered my use case as regular. I see now that it is a bit more advanced. In any case, shrinking should be driven by the data structure and domain specifics. And data structures like matrices are specific enough to require a dedicated shrinking strategy I guess.

I think, if

[2018-02-01 14:14] michaeljones commented on #209
I find myself being quite keen to use snapshots if possible. Is there any update on this?

[2018-02-02 03:13] mgold commented on #209
As far as I know, no one has taken me up on my October 2nd comment.

[2018-02-06 23:11] rtfeldman commented on #228
I agree that `any : List Expectation -> Expectation` could facilitate writing worse tests, and I also agree that @avh4's proposed `any : List (subject -> Expectation) -> subject -> Expectation` does not have this problem. The university example doesn't seem like a concern to me.

I'm sold. I say we add it!

Does anyone have any objections to adding it?

[2018-02-07 16:07] drathier commented on #228
I'm all for.

[2018-02-08 06:10] rtfeldman opened #230 "Should `Expect.equal` fail on floats?"
We have [`Expect.within`](http://package.elm-lang.org/packages/elm-community/elm-test/4.2.0/Expect#within) for comparing floats, but people don't necessarily know it's there. They may use `Expect.equal` on floats, not realizing that they should use `Expect.within` instead.

It occurs to me that we could have `Expect.equal` fail the test when given two floats, with an error message pointing the cal

[2018-02-08 06:24] mgold commented on #230
If I have a test that's passing because my floating point arithmetic happens to work out perfectly, is it bad or wrong to use `Expect.equal`? Is it better to specify my tolerances now, or do so lazily if and when my test breaks because of a 1e-13 difference?

In other words, `Expect.within` is useful for making making tests pass when we want them to. But I don't think `Expect.equal` will make test

[2018-02-08 09:14] drathier commented on #230
I'm leaning slightly towards implementing this check. It's more likely that the dev has that part of the code base in their working memory right when they write the tests, than when they go in to do a "quick fix".

On the other hand, you might not have to fix it ever if it happens to work the first time, and you never need to change that part of the code base.

Maybe we could argue it's a smell? T

[2018-02-08 17:18] rtfeldman commented on #230
I assume this was supposed to say `Expect.equal` - and I agree; I'd want to include this with the `MAJOR` release that removes `Fuzz.andThen`.

[2018-02-08 17:19] rtfeldman commented on #230
I agree, and I also consider it a positive to spread awareness of the pitfalls of comparing floats for equality in general!

[2018-02-09 09:59] drathier commented on #230
That's a really good reason! I'm all for this change in the next major bump! We should consider the performance hit as well, though.

Also, does this always work? Let's write a fuzz test for the is-this-a-float function :)

[2018-02-09 16:40] rtfeldman commented on #230
In 0.19 we should be getting `Kernel` access (for `try` / `catch` so we can translate exceptions into test failures, among other things) so we can speed this up with `typeof` and arithmetic then.

However, I don't think this should be blocked on that!

Love it! 💯

[2018-02-10 08:06] iboss-ptk opened #231 "Providing `Fuzz.intExcludeRange` and `Fuzz.floatExcludeRange`"
I think those fuzzers are commonly used enough to be in the lib itself. If that make sense, I can help implementing it.

[2018-02-10 08:12] drathier commented on #231
How would those functions work? Could you show us some use-cases? :)

[2018-02-11 02:51] mgold commented on #230
Sounds like a plan for the next major release.

[2018-02-13 06:42] mgold opened #232 "Remove AbsoluteOrRelative floating point tolerance in favor of Expect.any?"
Currently we define `AbsoluteOrRelative : Float -> Float -> FloatingPointTolerance`. It would be a major change to remove the constructor, but I wonder if with `Expect.any` (#228) if it's still necessary.

So code that currently looks like this

[code]

It's definitely more code though, so I'm not completely sure. I wanted to raise the idea though.

[2018-02-13 06:52] drathier commented on #232
Good question. I think it would make people way more likely to use absolute xor relative tolerance, even if they should really be using both.

[2018-02-16 06:56] drathier commented on #232
Sorry, I was unclear. I ment that people will probably not write both an absolute and a relative expectation for a test and join them up with Expect.any, but rather just use one of them. I'd also expect many people to just use absolute for all tests, completely ignoring relative, or maybe vice versa.

I could also see how people would try writing fuzz tests with just an absolute tolerance, get a f

[2018-02-19 01:59] mgold commented on #232
Ah, that's a little clearer. But we'd still have two tags in the ADT, `Absolute Float` and `Relative Float`. Are you saying that someone with a failing fuzz test is more likely to see `AbsoluteOrRelative Float Float` and say "Ah ha!" than if it's not there? I mean... maybe?

[2018-02-19 07:47] drathier commented on #232
Yeah. I think less code makes people more likely to use it, and that people are more likely to look at the constructors of an ADT than to go search for a different function. It's hard to tell for sure.

[2018-03-16 17:44] simonh1000 opened #233 "Test hitting a Debug.crash should return the test name"
I am hitting a Debug.crash with some of my tests. In other words I'm reaching a place that I thought was impossible to get to so i'm pretty keen to see what is happening. But I don't get the name of the test that crashed, and I have 380 of them,... Is there something I can do?

[2018-03-16 17:54] rtfeldman commented on #233
In 0.19 we can (and should, I think!) introduce this feature in this repo.

In the meantime I have an idea for how to do it in `node-test-runner`.

[2018-03-18 14:38] simonh1000 commented on #233
One thing I just found was that I would get the unhelpful error when I ran elm-test alone, but I get the specific test name back when I run `elm-test tests/TestFile.elm`, i.e. with the full name of a test file

[2018-03-26 19:24] jnmandal commented on #221
I'm not using any kind of synced environment; just using NPM and having the same problem.

[2018-03-27 05:38] simonh1000 commented on #221
all I can add is that the frequency does seem to have gone down significantly, but I did still get the error again recently while using my other device. Had to delete all elm-stuff directories

[2018-03-27 13:30] drathier commented on #221
Correction: the node test runner does modify elm-stuff, to add some generated elm files.

[2018-04-16 08:55] jwoudenberg opened #235 "How to compose custom equality checking functions?"
Sometimes I'd like to include a custom equality check for a type with a library. I'm talking about a function with the signature `a -> a -> Expectation`. One might do so when Elm's default `==` implementation will result in the wrong result for a type, for instance when the type's internal representation allows the same value to be expressed in multiple ways or when that internal implementation co

[2018-04-16 12:06] drathier commented on #235
My first instinct is to compare them manually and then use `Expect.true`.

[2018-04-17 02:17] mgold opened #236 "Remove Test.Runner.getFailure"
We document that [this function](http://package.elm-lang.org/packages/elm-community/elm-test/4.2.0/Test-Runner#getFailure) is deprecated. This issue is a reminder to remove it when we look through the *major-release-blocker* label. No action is required right now.

[2018-04-17 02:24] mgold commented on #235
I agree with @drathier that the library should expose an `equals` function ([example](http://package.elm-lang.org/packages/mgold/elm-animation/1.0.5/Animation#equals)) that returns a bool. ([`Order`](http://package.elm-lang.org/packages/elm-lang/core/5.1.1/Basics#Order) is another option if your things can be ordered.)

It's weird for a library to include it's own testing functions, since they don

[2018-04-17 07:34] jwoudenberg commented on #235
An `a -> a -> Bool` function covers the happy path: if the compared values are equal we're all good. If they're not equal then I don't really see how I can generate an informative error message showing why the comparison failed. Given that, hacking `Expect.all` currently seems the option that gives the best user experience, in that is produces error messages that are somewhat helpful.

My logic is

[2018-04-17 13:18] drathier commented on #231
@iboss-ptk Would you like to describe how it would work? Otherwise I'll close this issue for now.

[2018-04-17 13:25] drathier commented on #235
Possibly related: #214

[2018-04-18 20:46] jwoudenberg commented on #235
👍 I think it does work, based on a quick experiment. I only see elm-test related code show up in a generated js bundle if I import the module that in turn imports from `elm-test`.

Sounds promising! I'm going to play around a bit with that and report back on what using that might look like for the libraries linked above!

[2018-04-30 18:56] cfraser888 opened #237 "Document limitations of nested fuzzers"
When testing with fuzzers for a large/complex model with many nested models I encountered issues with test performance. My tests would either take a very long time to complete or threw an out of memory exception. To prevent encountering the out of memory exception I reduced the amount of fuzzers used per test by decomposing my tests into smaller components, which also increased test performance. D

[2018-05-02 08:04] jwoudenberg opened #238 "Reproducing a failing fuzzy test after new tests have been added"
We had the following scenario play out in our codebase:

1. A fuzzy test failed once during CI. It was a pretty rare failure (we hadn't seen it before), so we didn't prioritize its investigation immediately but created an issue that included elm-tests instructions for reproducing the failing test.
2. Some weeks later we set out to fix the bug. We start with trying to reproduce the failure using th

[2018-05-02 13:57] jwoudenberg commented on #238
Sure! What should the example illustrate? A combination of a fuzzy test and a seed, that fails when the fuzzy test is ran alone, vs when it is run as part of a suite containing another test?

Or are you interested in why this particular fuzzy tested flaked in the first place? Happy to show that, but it's more of a logic error on my part than a problem with elm-test :).

[2018-05-02 19:07] drathier commented on #238
I'd like to see the flaky test, by itself :) Having a list of bad tests that users managed to write helps figuring out how to write fuzzers so that we can catch more of these bugs in the future.

[2018-05-02 19:40] rtfeldman commented on #238
I'm so into this idea that [I already did it back in July](https://github.com/elm-community/elm-test/pull/196). 😸

Adding new sibling tests shouldn't affect the seeds. However, changing test description strings, or their ancestor `describe` labels, can cause the seeds to change...but I don't think it's possible to avoid that.

Is it possible that changing test descriptions was the cause here?

[2018-05-04 12:02] jwoudenberg commented on #238
Must have been a test description failure. I tried to reproduce the error in the small and couldn't. Thanks for all the replies and sorry for the noise!

[2018-05-04 12:02] #238 closed

[2018-05-04 12:04] drathier commented on #238
What I ment was, if you tried to write a fuzz test, and it incorrectly passed most of the time, maybe we can make the fuzzers smarter so that they find the input that would make your test fail?

[2018-06-07 15:19] harrysarson commented on #220
I investigated equality with `Cmd`'s, running the following tests on elm 18
[code]
gives the following output

<pre>elm-test 0.18.12
----------------

Running 8 tests. To reproduce these results, run: elm-test --fuzz 100 --seed 1519579438

<font color="#9F9F9D">↓ CmdEqualitySpec</font>
<font color="#9F9F9D">↓ test of Cmd&apos;s</font>
<font color="#CC0000">✗ Single Commands are equal to identical

[2018-06-07 15:22] harrysarson commented on #220
So `Cmd`s are comparable however:
 - Comparing two different commands that should be indentical throws an error.
 - `Cmd.map` always creates a different `Cmd` even if called with `identity`.
 - Batched commands are only equal if they are created in exactly the same order.

[2018-06-13 14:57] JasonMFry opened #239 "Elm-test doesn't run if root dir contains test/*.elm and auto-generated tests directories"
## Steps to Reproduce

1. Create a 'test' directory in the project root directory
1. Create an elm file in the test directory
1. Follow the instructions [here](http://package.elm-lang.org/packages/elm-community/elm-test/latest), namely, 1) `npm install`, 2) `cd` into project root, 3) run `elm-test init`, 4) copy all dependencies (unnecessary since `elm-test init` seems to have done this), 5) run `

[2018-06-13 18:48] JasonMFry commented on #221
We are also experiencing this issue, though we are using Docker which might result in a similar situation as syncing multiple computers. Removing `/project_root/elm-stuff` and `/project_root/tests/elm-stuff` did help.

[2018-07-04 09:07] mingan commented on #221
I'm in the same boat, running elm-test@0.18.9. I have no sync running but my path setup is atypical (because of Webpacker) but I have some private packages installed using [elm-install](https://github.com/gdotdesign/elm-github-install). Not sure if it's related, I suspect the unusual path setup because before migrating to Webpacker, with normal setup (`src/` and `tests/` side by side) it worked.

[2018-07-19 21:27] HappMacDonald opened #240 "Does Expect.true or false really need a description string, since test already has one?"
Concrete example:
[code]
I'd imagine most feeds into Expect.true/false will be simple function calls, because most core features that return Bool such as == or < already have bespoke Expect test functions that offer more verbosity.

Another way to look at it is that you'll never get the test string displayed in any instance where you're not already getting the Expect string displayed, unless there

[2018-07-20 05:17] HappMacDonald opened #241 "(Cygwin) Piping buffered stdout with lots of Debug.log segfaults"
By "Cygwin" I mean I have so far only tested this on Cygwin for Windows 10 64-bit via elm-test@0.18.13-beta2

By "buffered" I mean piping STDOUT to a process that fails to take input faster than elm-test emits output.

If I pipe into less, it segfaults at the end of the first page. (less has the first page of output but nothing farther)
If I tee, it segfaults after about 5kb of text.
If I just red

[2018-07-20 05:17] HappMacDonald commented on #241
[2018-07-19_elm-test_issue#241_example1.txt](https://github.com/elm-community/elm-test/files/2212533/2018-07-19_elm-test_issue.241_example1.txt)

[2018-07-20 05:28] HappMacDonald commented on #241
OK, I've not got confirmation that a lot of output via non-Debug.log means (or at least via a single very large test description) does not appear to trigger this bug.

I've got a minimal test case here that will output plenty of Debug.log data to help replicate the issue. :)

[Q.elm](https://github.com/elm-community/elm-test/files/2212569/Q.elm.txt)

[2018-07-20 18:36] drathier commented on #240
I did a little digging around across open source elm projects on github. People seem to do these things with `Expect.true`:
- `Expect.equal Expect.true Expect.true` (found one scary example)
- `Expect.equal True`
- `Expect.true "should be true"`
- people committing documentation.json which contains my elm-test-graph docs, which contains tests like `Expect.true "2 should be a member"`, where the st

[2018-07-20 19:21] HappMacDonald commented on #240
Yeah, I'm down for this. I'm not seeing any strict advantage to Expect.true given that it gains no visibility beyond what you'd get with Expect.equal. :)

[2018-07-21 22:58] mgold commented on #240
I think the reasoning was to require a more descriptive string to explain the failure, but it hasn't panned out that way. For these apparently rare cases, `Expect.onFail` should suffice.

I wonder if the idea of having true and false matchers comes from JavaScript and Ruby testing, where you legitimately need truthy and falsy testing?

[2018-07-23 15:16] rtfeldman commented on #240
Agreed on both counts!

I'm on board with this plan. 👍

[2018-07-23 15:22] rtfeldman commented on #241
Elm's `Debug.log` compiles to `console.log` in JS, which when run in Node.js results in data being sent to `stdout`.

This sounds like a Cygwin bug, and I don't think there's anything we can realistically do about it. 😅

[2018-07-23 17:32] drathier commented on #240
Looks like we have achieved consensus. I've got a flight coming up, and I'd be happy to give it a go :)

[2018-07-24 06:00] HappMacDonald commented on #241
Alright, yep in command prompt I can confirm that Q.elm won't segfault even while paging through dos's more. While I had not previously tested Cygwin more in particular, I just tested that one again and confirmed that it did.

Thus it is most likely just an interoperability issue with Cygwin, and I'll close. Thank you for checking Richard. :)

[2018-07-24 06:00] #241 closed

[2018-07-26 12:19] #240 closed

[2018-08-12 23:22] rtfeldman opened #243 "Should it be okay for invalid fuzzers to fail mid-test?"
It seems like the two problems with `Fuzz.andThen` mentioned in https://github.com/elm-community/elm-test/issues/161 boil down to:

1. Shrinking performance is often bad. However, as https://github.com/elm-community/elm-test/issues/237 notes, `Fuzz.andThen` is only one of several ways to end up with slow tests when using fuzzers. If we need a general solution to that problem anyway, then removing

[2018-08-13 08:47] drathier commented on #243
Tons of questions, we could split a few over to different issues.

I thought we wanted to remove `andThen` because of poor performance, mainly in shrinking? If we're sure we'll hit a user-fixable runtime error on the first run if someone makes this mistake, like `frequency []`, that doesn't seem like a problem to me. Maybe I'm not using large enough test suites for the failed run to matter? Relate

[2018-08-13 08:51] Janiczek commented on #243
@drathier I couldn't find any "hanging" fuzzers. Issue #132 is probably relevant here: it says that problem is resolved. So, the reasons for removing `Fuzz.andThen` are, I think, either based on outdated knowledge or philosophical rather than performance-related.

[2018-08-13 13:53] hkgumbs commented on #179
I think html-test-runner is going to folded into Richard's runner, so this issue seems finished.

[2018-08-13 13:53] #179 closed

[2018-08-14 03:00] mgold commented on #105
Well, only a year and a half late, but this no longer reproduces.

[code]

[2018-08-14 03:00] #105 closed

[2018-08-14 03:04] mgold commented on #160
Current behavior:

[code]

[2018-08-14 03:12] mgold commented on #62
The example in the gist terminates now. You get a lot of shrinks, but I think that's okay for this contrived example.

[2018-08-14 03:29] mgold commented on #243
I went back to every `Fuzz.andThen` issue and I think the current behavior (0.18.12 runner) is acceptable.

#62: What used to hang indefinitely now terminates quickly.
#105: Shrinking now longer produces a value that couldn't have made the test fail, or something.
#132: Fixed by @jwoudenberg in #172.
#160: `andThen` with `frequency []` still crashes, but at least we get a nice error message inline

[2018-08-14 06:41] jwoudenberg commented on #243
Overall, at this point in my life I don't feel strongly that `andThen` should be removed. But also I've stopped using it completely in my code so I haven't had any recent experience with it. I don't see much in the way of issues reported about it though (at least not recently), so that's a good sign.

I think this assumes a general solution for fuzzer-releated performance issues exists. Barring su

[2018-08-21 17:01] pjfitzgibbons opened #244 "Option to log passing tests on "console" report"
Hello,
This is technically a "reopen" of #189.

I would love to have a way of running the tests and printing out the text from 'describe' through to the current 'test' before each test. e.g. if I have

[code]
and I run "elm-test --trace" (or something, --logging, --status, --progress, i dunno) i would see something like

[code]

Per comment by mgold https://github.com/elm-community/elm-test/issues

[2018-08-21 17:37] tiziano88 opened #245 "EACCES error when installing via npm"
I am getting an error when running the following command:

[code]

Seems an inconsistency in the target platform (linux vs mac). Note I am running on linux.

npm version reports the following:

[code]

[2018-08-23 11:39] bobwhitelock commented on #245
When you `npm install -g elm-test` you're installing https://github.com/rtfeldman/node-test-runner, which includes the `elm-test` CLI tool for running `elm-test` tests, whereas this repo is for the Elm library for writing Elm tests (I agree this can be slightly confusing :slightly_smiling_face:). So you may get better help if you log your issue there.

[2018-08-30 12:54] Y0hy0h opened #246 "Call Stack Size exceeded with List-String-Fuzzer and Set"
I have a case where a test fails because the call stack size was exceeded. I'm not really sure what is happening.

The test is:
[code]

The test output:
[code]

## Observations
This issue does not occur when `Set.toList` is not called (e. g. `Expect.equal (Set.fromList strings) (Set.fromList strings)`). I do not know how to test `Set.toList` to see if that is the problem.

Somehow natural, but red

[2018-09-01 23:06] mgold commented on #246
@Y0hy0h Please upgrade to elm-explorations/test 1.1.0 and see if the issue continues.

[2018-09-01 23:12] Y0hy0h commented on #246
That seems to have solved the problem! Thanks!

Just out of curiosity, what was the issue?

[2018-09-01 23:12] #246 closed

[2018-09-01 23:37] mgold commented on #246
A mistranslation of code with custom operators to 0.19. Not complicated so much as subtle.

[2018-09-01 23:40] Y0hy0h commented on #246
That sounds like one of those nasty bugs. Thanks for the explanation!

[2018-09-04 22:14] Maxim-Filimonov commented on #191
Hi, found this after a quick try to use with 0.19. Are there plans to update this library to 0.19 ?

[2018-09-05 00:12] mgold commented on #191
It's at `elm-explorations/test`. You'll also want `nom I -g elm-test@beta`.

I also think it's time to close this issue.

[2018-09-05 00:12] #191 closed

[2018-09-05 15:17] dschinkel opened #247 "skip describe"
Wanted to see if skip was implemented for describe.  I tried putting skip in front of it, doesn't look like it.

[2018-09-05 15:18] dschinkel commented on #247
nevermind I posted this in the wrong repo.

[2018-09-05 15:18] #247 closed

[2018-09-13 09:37] nonpop opened #249 "Stack size exceeded with not too big data"
The following code causes a `RangeError: Maximum call stack size exceeded` when run on `elm-test@0.19.0-beta8` on Arch linux. This is a minimal case for my setup (cannot remove any more fields or make the lists shorter). If I change `datas 0` to `datas 3` making the tests pass, then there is no error.

[code]

[2018-09-18 22:53] dschinkel opened #250 "Working with v19?"
Just trying to get this working over v19.

I noticed that even though:

- I have the v19 Elm **binary** installed for OS X
- I'm running Elm 19
- I've got an `elm.json` at the root of my project

<img width="346" alt="screen shot 2018-09-18 at 6 26 50 pm" src="https://user-images.githubusercontent.com/338798/45722094-70eb4c00-bb70-11e8-84e4-d937c6ce8a42.png">

**Problem**: When I run `elm-test ini

[2018-09-18 22:57] dschinkel commented on #250
this
https://discourse.elm-lang.org/t/elm-test-for-0-19/1748

needs to be mentioned in https://github.com/elm/compiler/blob/master/upgrade-docs/0.19.md

[2018-09-18 23:28] dschinkel commented on #250
moving this to https://github.com/elm-explorations/test

[2018-09-18 23:28] #250 closed

[2018-10-02 15:06] andys8 opened #251 "[Discussion] testEach / describeEach"
## TL;DR

Should we add syntactic sugar to test input-to-expected-result tables?

## Background

`Jest` recently included [`describe.each`](https://jestjs.io/docs/en/api#describeeachtable-name-fn-timeout) and [`test.each`](https://jestjs.io/docs/en/api#testeachtable-name-fn-timeout). Could it work for `elm-test`?

[code]

## Examples

### Example: Generic

Polymorph in its argument: `testEach : St

[2018-10-03 21:05] andys8 commented on #251
Moved to new repository: https://github.com/elm-explorations/test/issues/37

[2018-10-03 21:05] #251 closed

[2018-10-31 09:45] drathier commented on #225
0.19 is here, we are no longer blocked. Related to https://github.com/elm-explorations/test/issues/38

[2018-11-02 17:51] doanythingfordethklok commented on #249
Same thing here.  I have a test that is dedupes a list. The input has 4 items and the output is checking 2 items. It appears to be the same issue as reported by OP.  Here is the full stack trace :

[code]

[2018-11-02 20:38] ondrejsevcik commented on #249
Same issue here with `0.19.0-beta9`.

[2018-11-27 14:54] bitterjug commented on #249
Looks like I have a similar problem with beta-10, is there a work-round?

[code]

[2018-11-27 20:13] nonpop commented on #249
[This](https://github.com/rtfeldman/node-test-runner/pull/319/files) fixed it for me. I don't think it's released yet but you can try it by making the changes in your node_modules/elm-test/... (Note that I accidentally posted this in the wrong repo; the 0.19 Elm package is elm-explorations/test, and the actual issue is in node-test-runner...)

[2018-11-27 20:14] #249 closed

[2018-12-08 05:36] mgold commented on #236
Removed in elm-explorations/elm-test 1.0.0

[2018-12-08 05:36] #236 closed

[2019-01-08 14:14] perty opened #252 "The dependencies in your elm.json are not compatible when installing elm/http"

[2019-01-08 15:11] perty commented on #252
Both elm-explorations and http has something called "Expect"... but that can't be it?

[2019-01-09 14:15] #252 closed